* {
  box-sizing: border-box;
}


.navbar {
  display: none;
}

.row  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logobnb {
  align-self: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.viv {
  font-size: 31px;
  text-transform: uppercase;
  font-weight: 700;

}

h6 {
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}

.welcome {
  margin-top: 40px;
  filter: brightness(0.6);
  margin-bottom: 0px;
}

.carou2 {
  font-weight: bold;
}

button {
  background-color: #006671;
  border: 1px #006671 solid;
  width: 280px;
  height: 40px;
}

button:hover {
  background-color: #009aab;
}


h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.week {
  background-color: #EDEFED;
  padding-top: 40px;
}

.text-lead {
  font-size: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.carou3 {
  margin-bottom: 50%;
}

.carou4 {
  margin-bottom: 50%;
}

.carou5 {
  margin-bottom: 10%;
}


.contentfooter {
    padding: 48px 0;
    background-image: url(https://a0.muscache.com/airbnb/static/footer/background-317dd7c2cb678ddbdb0a983d511cb9a0.png);
    background-color: #2b2d2e;
    color: #fff;
  }

  .contentfooter select {
    background-color: #484848;
    border: 0;
    color: #fff;
    border: 0;
  }

  footer label {
    width: 100%;
  }

  footer select {
      background-color: #484848;
      color: #fff;
      border: 0;
      padding: 10px 0 10px 0;
      font-weight: bold;
      min-width: 100
    }

.contentfooter {
  display: flex;
  flex-direction:  column;
  flex-wrap: wrap;
}

#country {
  flex-grow: ;
}


@media screen and (min-width: 1024px) {
  .logobnb {
    display: none;
  }

  .flexb {
    display: flex;
    flex-direction: column;


  }

  .navbar {
    display: block;
  }


}
