.row  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  align-self: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.viv {
  font-size: 31px;
  text-transform: uppercase;
  font-weight: 700;

}

h6 {
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}

.welcome {
  margin-top: 40px;
  filter: brightness(0.6);
  margin-bottom: 0px;
}

h5 {
  font-weight: bold;
}

button {
  background-color: #006671;
  border: 1px #006671 solid;
  width: 280px;
  height: 40px;
}

button:hover {
  background-color: #009aab;
}


h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.week {
  background-color: #EDEFED;
  padding-top: 40px;
}

.text-lead {
  font-size: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
